<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="../static/stylesheets/project6_stylesheet.css" rel="stylesheet" />
  <title>Scuba Stuff</title>
</head>
<body>
  <div>
    <header>
      <nav>
        <ul>
          <!-- intra-page links -->
          <li><a href="/">Home</a></li>
          <li><a href="adventures">Adventures</a></li>
          <li><a href="gear">Gear</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <!-- container div -->
  <div class="container">
    <p>Things to do before starting an adventure</p>
    <!-- ordered list -->
    <span class="list">
      <ol>
        <li>Get trained and certified</li>
        <li>Get familiar with your gear</li>
        <li>Get familiar with your group</li>
        <li>Plan for safety!</li>
      </ol>
    </span>
  </div>
  <!-- paragraph div -->
  <div class="para">
    <p>
      Once you've taken these steps that it's time to check out these great
      places to dive!
    </p>
    <!-- external site link -->
    <a href="https://www.divein.com/diving/top-10-dive-sites-in-the-world/"
      >Dive Locations</a
    >
  </div>
  <div>
    <img src="{{adventure_image}}" />
  </div>
</body>
