<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="../static/stylesheets/project6_stylesheet.css" rel="stylesheet" />
  <title>Scuba Stuff</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <!-- intra-page links -->
        <li><a href="/">Home</a></li>
        <li><a href="adventures">Adventures</a></li>
        <li><a href="gear">Gear</a></li>
        <li><a href="account">Account</a></li>
      </ul>
    </nav>
  </header>
  <div>
    <h3>Welcome to the gear page!</h3>
    <h4>Click the link below to learn all about scuba gear!</h4>
    <!-- external site link -->
    <a href="https://www.divers-supply.com/scuba-gear.html">Diver's Supply</a>
  </div>
  <div>
    <h3>Gear Prices</h3>
    <table id="gear_table">
      <colgroup>
        <col class="gear_name" />
        <col class="low_price" />
        <col class="high_price" />
      </colgroup>
      <tr class="table_header">
        <th scope="col" style="text-align: left">Name</th>
        <th scope="col" style="text-align: center">Low</th>
        <th scope="col" style="text-align: right">High</th>
      </tr>
      <tr class="row_one">
        <td class="gear_name">Wetsuit</td>
        <td class="low_price">$100</td>
        <td class="high_price">$500</td>
      </tr>

      <tr class="row_two">
        <td class="gear_name">Goggles</td>
        <td class="low_price">$40</td>
        <td class="high_price">$200</td>
      </tr>
      <tr class="row_three">
        <td class="gear_name">Boots</td>
        <td class="low_price">$50</td>
        <td class="high_price">$150</td>
      </tr>
      <tr class="row_four">
        <td class="gear_name">Dive Computer</td>
        <td class="low_price">$250</td>
        <td class="high_price">$1000+</td>
      </tr>
    </table>
  </div>
</body>
