<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/stylesheets/project6_stylesheet.css" rel="stylesheet">
    <title>Scuba Stuff</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- intra-page links -->
               <li><a href="/">Home</a></li>
               <li><a href="adventures">Adventures</a></li>
               <li><a href="gear">Gear</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <h3>Welcome to the gear page!</h3>
        <h4>Click the link below to learn all about scuba gear!</h4>
        <!-- external site link -->
        <a href="https://www.divers-supply.com/scuba-gear.html">Diver's Supply</a>
    </div>
</body>